/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/poppins-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/poppins-v22-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/poppins-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-500italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/poppins-v22-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/poppins-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/poppins-v22-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/poppins-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .underline-animation {
        @apply relative;
    }

    .underline-animation::after {
        @apply absolute bottom-[-4px] left-0 h-[2px] w-full origin-bottom-right scale-x-0 bg-paletteColor2 transition-transform duration-300 content-[''] hover:origin-bottom-left hover:scale-x-100;
    }

    .footer-link {
        @apply duration-300 hover:text-paletteColor2;
    }

    h2 {
        @apply relative my-10 inline-block text-center text-xl font-bold underline decoration-paletteColor2 decoration-2 xs:no-underline md:text-2xl lg:text-3xl;
    }

    h2::before,
    h2::after {
        @apply absolute top-[50%] hidden h-[2px] w-[20px] translate-y-[-50%] bg-paletteColor2 content-[''] xs:block xs:w-[30px];
    }

    h2::before {
        @apply left-[-30px] xs:left-[-50px];
    }

    h2::after {
        @apply right-[-30px] xs:right-[-50px];
    }

    .newcrea-title {
        @apply relative inline-block pb-8;
    }

    .newcrea-title::after {
        @apply absolute bottom-4 left-1/2 h-[2px] w-[30px] -translate-x-1/2 bg-paletteColor2 content-[''] md:h-[4px] md:w-[50px];
    }

    .normal-text {
        @apply text-base md:text-lg lg:text-xl;
    }

    .big-text {
        @apply text-xl md:text-2xl lg:text-3xl;
    }

    .small-text {
        @apply text-sm md:text-base lg:text-lg;
    }

    img {
        @apply select-none;
    }

    p,
    a {
        @apply text-sm xs:text-base;
    }

    h1 {
        @apply text-3xl font-bold leading-8 md:text-4xl lg:text-5xl pt-[72px];
    }

    h3 {
        @apply text-lg font-bold md:text-xl lg:text-2xl mb-4 xs:underline decoration-paletteColor2;
    }

    section {
        @apply mx-auto mt-16 w-[90%];
    }
}
